{% extends 'base.html' %}

{% block section %} 

<section>

    <div id="content">

        <h2>English : French</h2>
    
        <ul>
            <li>vicinity : environs, alentours</li>
            <li>borrow : emprunter</li>
            <li>lend : prêter</li>
            <li>sore : faire mal, irrité</li>
            <li>throat : gorge</li>
            <li>knowledge : connaissance</li>
            <li>whether: si</li>
            <li>unless : à moins que, sauf</li>
            <li>look forward to : attendre avec impatience</li>
            <li>then : puis, ensuite, alors</li>
            <li>even : même</li>
            <li>anyway : quand même, de toute façon, quoi qu'il en soit, soit, enfin, bref, bon</li>
            <li>appointment : rdv, poste</li>
            <li>as soon as : dès que</li>
            <li>as well as : ainsi que</li>
            <li>as well : aussi, également</li>
            <li>awful : horrible, affreux</li>
            <li>believe : croire</li>
            <li>mean to : avoir l'intention de faire</li>
            <li>although : bien que, quoique, même si</li>
            <li>be about to do : être sur le point de faire</li>
            <li>almost : presque, casiment</li>
            <li>unfasten : défaire, détacher</li>
        </ul>
    </div>
</section>


{% endblock %}